main {
  /* background: #07252d; */
  background-image: url(../images/dark-canvas.gif); }

.navbar {
  background-image: url(../images/dark-canvas.gif); }

footer {
  background-image: url(../images/dark-canvas.gif); }
