header {
  font-family: "Amatic SC", cursive; }
  header .navbar {
    background-image: url(../images/dark-canvas.gif); }
    header .navbar .collapse {
      justify-content: center;
      font-size: 1em; }

.nav-item {
  padding-right: 2em;
  font-size: 2em; }

.navbar-nav {
  align-items: center;
  font-size: 1em; }

main {
  background-image: url(../images/dark-canvas.gif); }

footer {
  background-image: url(../images/dark-canvas.gif);
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  font-weight: auto; }

/* animacion titulo del index */
.text__general {
  padding: 0.5em;
  text-align: center;
  position: relative;
  font-size: 4vw;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  outline: none;
  animation: animate 5s linear infinite; }

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #0e3742;
    text-shadow: none; }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4; } }

/* fin animacion titulo index */
/* titulos index */
.titulo__about {
  text-align: center;
  font-size: 4vw;
  max-width: 100%;
  padding: 0.5em;
  color: whitesmoke; }

/* fin titulo index */
/* corresponde imagen y texto debajo del carrusel*/
.about__container, .paisaje__cabecera {
  display: flex;
  padding-bottom: 1em; }
  .about__container img, .paisaje__cabecera img {
    max-width: 100%;
    padding: 0.3em; }
  .about__container p, .paisaje__cabecera p {
    padding: 1em;
    font-size: 2vw;
    max-width: 100%;
    color: whitesmoke; }

/* fin imagen y texto debajo del carrusel*/
/* titulo galeria conciertos */
.conciertos__title, .paisaje__title {
  text-align: center;
  color: whitesmoke;
  padding: 0.5em;
  font-size: 4vw;
  max-width: 100%; }

/* fin titulos */
/* galeria con grid conciertos */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense; }
  .grid-container .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.7s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .grid-container .grid-item:hover {
      filter: opacity(0.9);
      transform: scale(1.04); }

@media (min-width: 600px) {
  .wide {
    grid-column: span 2; }
  .tall {
    grid-row: span 2; }
  /* fin galeria con grid de conciertos */ }

/* GAleria De autor utilizando mixin, extend y map */
.paisaje__row {
  padding: 5px;
  display: flex;
  flex-wrap: wrap; }

.paisaje__column {
  flex: 25%;
  padding: 5px; }
  .paisaje__column .pruebaextend {
    width: 100%;
    margin-top: 5px; }

@media (max-width: 800px) {
  .paisaje__column {
    flex: 50%; } }

@media (max-width: 600px) {
  .paisaje__column {
    flex: 100%; } }

.paisaje__cabecera p {
  color: #7dddd8;
  font-style: italic;
  font-size: 2vw; }

.paisaje__title {
  font-style: italic; }

/* FIN - GAleria Paisajes utilizando mixin, extend y map */
/* FORMULARIO DE CONTACTO */
.section__form {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#f2edfc 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  display: flex;
  min-height: 100vh; }
  .section__form .form {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb 0 0 0/30%;
    text-align: center; }
  .section__form .form__title {
    font-size: 2rem;
    margin-bottom: .5em; }
  .section__form .form_paragraph {
    font-weight: 300; }

.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em; }
  .form__container .form__group {
    position: relative;
    --color: #575757e; }
    .form__container .form__group .form__input {
      width: 100%;
      background: none;
      color: #706c6c;
      font-size: 1rem;
      padding: .6em .3em;
      border: none;
      outline: none;
      border-bottom: 1px solid var(--color);
      font-family: 'Roboto', sans-serif; }
      .form__container .form__group .form__input:not(:placeholder-shown) {
        color: #4d4646; }
    .form__container .form__group .form__input:focus + .form__label,
    .form__container .form__group .form__input:not(:placeholder-shown) + .form__label {
      transform: translateY(-12px) scale(0.7);
      transform-origin: left top;
      color: #3866f2; }
    .form__container .form__group .form__label {
      color: var(--color);
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 5px;
      transform: translateY(10px);
      transition: transform .5s, color .3s; }
    .form__container .form__group .form__line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #3866f2;
      transform: scale(0);
      transform: left bottom;
      transition: transform .4s; }
      .form__container .form__group .form__line .form__input:focus ~ .form__line,
      .form__container .form__group .form__line .form__input:not(:placeholder-shown) ~ .form__line {
        transform: scale(1); }

.form__submit {
  background-color: #3866f2;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: .8em 0;
  border: none;
  border-radius: .5em; }

/* FIN FORMULARIO CONTACTO */
.main__negro {
  background-image: url(../images/dark-canvas.gif); }

.servicios__container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  padding-left: 5em;
  padding-right: 5em;
  overflow: hidden; }

.box__servicios {
  flex: 50%;
  flex-direction: column;
  padding: 2em; }
  .box__servicios span {
    font-size: 1em;
    text-align: left;
    color: whitesmoke; }
  .box__servicios h2 {
    text-align: left;
    color: whitesmoke;
    font-size: 2em;
    padding-top: 1em; }
  .box__servicios .img__servicios {
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid white;
    box-shadow: 10px 5px 10px  white;
    object-fit: cover; }

@media (min-width: 600px) {
  .box__servicios {
    flex: 100%; }
    .box__servicios h2 {
      font-size: 2em; }
    .box__servicios span {
      font-size: 1em; } }

@media (min-width: 800px) {
  .box__servicios {
    flex: 50%; }
    .box__servicios h2 {
      font-size: 2em; }
    .box__servicios span {
      font-size: 1em; } }
